@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.woff2"), url("../fonts/SpaceMono-Bold.woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Regular.woff2"), url("../fonts/SpaceMono-Regular.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.site-header {
  padding: 22px 0px;
}

.header__inner {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 58px;
}

.nav__item + .nav__item {
  margin-left: 32px;
}

.nav__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}
.nav__link:active {
  color: #FCB72B;
}

.btn {
  margin-left: auto;
  padding: 14px 39px;
  background: #FCB72B;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  border: 2px solid transparent;
}
.btn:active {
  background: transparent;
  color: #FCB72B;
  border: 2px solid #FCB72B;
}

.menu_btn {
  display: none;
}

@media only screen and (max-width: 625px) {
  .header__inner {
    width: 100%;
    max-width: 335px;
    flex-direction: row-reverse;
  }
  .nav__list {
    display: none;
  }
  .btn {
    display: none;
  }
  .menu_btn {
    display: block;
    border: 1px solid transparent;
    background-color: transparent;
    margin-right: 100px;
  }
}
.hero {
  background-image: url("../../images/hero_bg.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hero__inner::before {
  position: absolute;
  background-image: url("../../images/hero_arrow.svg");
  background-repeat: no-repeat;
  width: 450px;
  height: 138px;
  bottom: 157px;
  right: 100px;
  content: "";
}

.hero__inner::after {
  position: absolute;
  background-image: url("../../images/hero_circle.svg");
  background-repeat: no-repeat;
  width: 234px;
  height: 63px;
  bottom: 155px;
  right: -200px;
  content: "";
}

.hero__inner {
  position: relative;
  padding: 100px 0px;
}

.hero__content {
  width: 100%;
  max-width: 520px;
}

.hero__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  color: #FFFFFF;
}

.hero__text {
  position: relative;
  margin: 0;
  margin-left: 50px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}

.hero__text::before {
  position: absolute;
  background-image: url("../../images/hero_path.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  top: 50px;
  left: -255px;
  width: 100%;
  max-width: 203px;
  height: 15px;
  content: "";
}

.hero__btn {
  margin-left: 50px;
  padding: 14px 39px;
  background: #FCB72B;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  border: 2px solid transparent;
}
.hero__btn:active {
  background: transparent;
  color: #FCB72B;
  border: 2px solid #FCB72B;
}

@media only screen and (max-width: 1100px) {
  .hero {
    background-image: url("../../images/tablet_bgimg.webp");
    background-size: 100%;
  }
  .hero__text::before {
    display: none;
  }
  .hero__inner::before {
    left: -225px;
    bottom: 15px;
  }
  .hero__btn {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 768px) {
  .hero__content {
    display: block;
    margin: 0 auto;
    width: 470px;
  }
  .hero__title {
    font-size: 40px;
    line-height: 40px;
  }
  .hero__text {
    font-size: 15px;
    line-height: 25px;
  }
  .hero__text::before {
    display: none;
  }
  .hero__inner::before {
    left: -225px;
    bottom: 15px;
  }
}
@media only screen and (max-width: 576px) {
  .hero {
    background-image: url("../../images/mobil_herobg.webp");
  }
  .hero__content {
    display: block;
    margin: 0 auto;
    width: 310px;
    text-align: center;
  }
  .hero__text {
    margin: 0;
    text-align: center;
  }
  .hero__btn {
    margin-top: 35px;
    margin-left: 50px;
  }
  .hero__text::before {
    display: none;
  }
  .hero__inner::before {
    left: -225px;
    bottom: 15px;
  }
  .hero__inner::after {
    display: none;
  }
}
.about-hero {
  padding: 62px 0 72px 165px;
  background-image: url("../../images/about-bgi.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.about-hero__title {
  margin: 0;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #ffffff;
}

.careers-hero {
  height: 200px;
  background-image: url("../../images/careers-hero-bgi.webp");
  background-repeat: no-repeat;
  background-position: center;
}

.enjoy {
  margin-top: 160px;
}

.enjoy__line {
  position: relative;
  display: block;
  border: 10px solid #E5ECF4;
  top: 60px;
  left: -165px;
}

.enjoy__list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.enjoy__item {
  position: relative;
  width: 100%;
  max-width: 350px;
  padding-top: 136px;
}

.enjoy__item::before {
  position: absolute;
  background-image: url("../../images/phone_icon.svg");
  width: 96px;
  height: 96px;
  background-position: top center;
  top: 0;
  content: "";
}

.enjoy__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}

.enjoy {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

@media only screen and (max-width: 768px) {
  .enjoy {
    margin-top: 100px;
  }
  .enjoy__line {
    display: none;
  }
  .enjoy__list {
    display: block;
    margin-left: 150px;
    width: 400px;
  }
  .enjoy__item {
    padding: 0;
  }
  .enjoy__item::before {
    left: -125px;
  }
}
@media only screen and (max-width: 576px) {
  .enjoy__item {
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
  }
  .enjoy__list {
    margin: 0 auto;
  }
  .enjoy__item::before {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.riding {
  margin-top: 200px;
  background-image: url("../../images/boyfriend_img.webp");
  background-repeat: no-repeat;
  background-size: 954px 445px;
  background-position: calc(50% + 522px) calc(50% - 0px);
}

.riding__inner {
  position: relative;
  padding: 80px 0px;
}

.riding__content {
  width: 100%;
  max-width: 450px;
}

.riding__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}

.riding__text {
  margin-bottom: 40px;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.sity {
  margin-top: 200px;
  background-image: url("../../images/sity_img.webp");
  background-repeat: no-repeat;
  background-size: 995px 445px;
  background-position: calc(50% - 605px) 50%;
}

.sity__inner {
  position: relative;
}

.sity__content {
  padding: 66px 0;
  margin-left: auto;
  width: 100%;
  max-width: 450px;
}

.sity__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #495567;
}

.sity__text {
  margin-bottom: 40px;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.payments {
  margin-top: 200px;
  background-image: url("../../images/money_img.webp");
  background-repeat: no-repeat;
  background-size: 954px 445px;
  background-position: calc(50% + 600px) calc(50% - 0px);
}

.payments__inner {
  position: relative;
  padding: 80px 0px;
}

.payments__content {
  width: 100%;
  max-width: 450px;
}

.payments__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}

.payments__text {
  margin-bottom: 40px;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.mobility {
  padding: 130px 0 120px;
  background-image: url("../../images/m-left.webp"), url("../../images/mobility.webp"), url("../../images/living-oval.webp");
  background-repeat: no-repeat;
  background-size: auto, auto, 100px 500px;
  background-position: calc(50% + 370px) calc(50% - 150px), calc(50% + 450px) calc(50% - 250px), calc(50% - 650px) calc(50% + 226px);
}

.mobility-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mobility__item:nth-child(2) {
  background-image: url("../../images/m-right.webp"), url("../../images/living.webp");
  background-repeat: no-repeat;
  background-size: auto, 445px 445px;
  background-position: calc(50% - 450px) calc(50% - 150px), calc(50% - 330px);
}

.mobility__content {
  padding: 125px 0;
  width: 100%;
  max-width: 445px;
}

.mobility__content--right {
  margin-right: auto;
}

.mobility__content--left {
  margin-left: auto;
}

.mobility-list__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}

.mobility-list__text {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}

.values {
  padding: 120px 0;
}

.values__title {
  margin: 0;
  margin-bottom: 103px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}

.values-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.values__item {
  position: relative;
  width: 100%;
  max-width: 350px;
}

.values__item::before {
  display: block;
  margin: 0 auto 87px;
  width: 240px;
  height: 240px;
  background-repeat: no-repeat;
  content: "";
}

.values__item:nth-child(1)::before {
  background-image: url("../../images/values-01.webp");
}

.values__item:nth-child(2)::before {
  background-image: url("../../images/values-02.webp");
}

.values__item:nth-child(3)::before {
  background-image: url("../../images/values-03.webp");
}

.values-list__oval {
  position: absolute;
  display: inline-block;
  top: 200px;
  left: 120px;
  padding: 34px;
  background-color: #fcb72b;
  border-radius: 50%;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -1.07143px;
  color: #495567;
}

.values-list__title {
  margin: 0;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -1.07143px;
  color: #495567;
}

.values-list__text {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #939caa;
}

.faq {
  padding-bottom: 160px;
}

.faq__title {
  margin: 0;
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}

.faq__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.faq__item {
  display: flex;
  align-items: flex-start;
  gap: 90px;
}

.faq-list__title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.78571px;
  color: #495567;
}

.faq__content {
  width: 100%;
  max-width: 730px;
}

.faq__details {
  padding: 32px 40px;
  overflow: hidden;
  margin: 0 auto 16px;
  background-color: #f2f5f9;
  transition: all 0.4s ease;
}

.faq__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  list-style-type: none;
}

.faq__details--title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}

.faq__details--text {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #495567;
}

.mission {
  padding: 186px 0 120px;
  background-image: url("../../images/mission-bgi.webp");
  background-repeat: no-repeat;
  background-position: calc(50% + 400px) 50%;
}

.mission__inner {
  padding: 66px 0;
}

.mission__content {
  width: 100%;
  max-width: 445px;
}

.mission__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}

.mission__text {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}

.mission__link {
  display: inline-block;
  padding: 14px 48px 14px 49px;
  text-decoration: none;
}

.specialist {
  padding-bottom: 160px;
}

.specialist__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
}

.specialist__item {
  width: 100%;
  padding: 32px 64px 35px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f5f9;
}

.specialist__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}

.specialist__text {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #495567;
}

.specialist__link {
  display: inline-block;
  padding: 14px 66px 14px 67px;
  text-decoration: none;
}

.sity-aside {
  margin-top: 200px;
  background-image: url("../../images/aside_bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin: 0 auto;
}

.aside__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 102px 0px;
}

.aside__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 415px;
}

.aside__title {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #ffffff;
}

.button {
  padding: 0;
  line-height: 18px;
  border: transparent;
  background: #e5ecf4;
  border-radius: 4px;
}

.location {
  margin-top: 100px;
  background-image: url("../../images/location_bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
}

.location__inner {
  padding: 72px 0;
  margin: 100px 0px;
}

.location__title {
  margin: 0;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  color: #FFFFFF;
}

.location__map {
  position: relative;
}

.location__map::before {
  position: absolute;
  background-image: url("../../images/location_img.webp");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1110px;
  height: 545px;
  background-position: 50% 50%;
  content: "";
}

.location__link {
  text-decoration: none;
}

.listed__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 600px;
  margin-bottom: 50px;
}

.listed__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}

.listed__text {
  width: 100%;
  max-width: 445px;
}

.site-footer {
  background: #333A44;
}

.footer__inner {
  display: flex;
  align-items: center;
  padding: 35px 0px;
}

.footer__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 58px;
}

.footer__item + .footer__item {
  margin-left: 58px;
}

.footer__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}
.footer__link:active {
  color: #FCB72B;
}

.network__apps {
  margin-left: auto;
}

.network__link {
  text-decoration: none;
  margin-left: 24px;
}
.network__link:active {
  background-color: transparent;
}/*# sourceMappingURL=main.css.map */