.sity-aside {
  background-image: url("../../images/aside_bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.aside__inner {
  @include position;
  justify-content: space-between;
  padding: 102px 0px;
}

.aside__content {
  @include position;
  justify-content: space-between;
  width: 100%;
  max-width: 445px;
}

.aside__title {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
}

.button {
  line-height: 18px;
  border: transparent;
  background: #e5ecf4;
  border-radius: 4px;
}
.download__app{
  @include position;

}
.download__link+ .download__link{
  margin-left: 15px;
}

// @media only screen and(max-width:768px) {
//   .sity-aside {
//     margin-top: 0;
//     padding: 0;
//     background-image: url("../../images/aside_bgtablet.png");
//     background-size: 100%;
//   }

//   .aside__inner {
//     display: block;
//     margin: 0 auto;
//     width: 457px;
//     text-align: center;
//   }

//   .download__app {
//     padding-top: 25px;
//   }
// }

// @media only screen and(max-width:606px) {
//   .aside__title{
//     font-size: 32px;
//   line-height: 32px;
//   }

// }