.sity-aside {
  background-image: url("../../images/aside_bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.aside__inner {
  @include position;
  justify-content: space-between;
  padding: 102px 0px;
}

.aside__content {
  @include position;
  justify-content: space-between;
  width: 100%;
  max-width: 445px;
}

.aside__title {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
}

.button {
  line-height: 18px;
  border: transparent;
  background: #e5ecf4;
  border-radius: 4px;
}
.download__app{
  @include position;
}
.button+ .button{
  padding: 0px;
  margin-left: 15px;
}

@media only screen and(max-width:768px) {
  .sity-aside {
    margin-top: 0;
    padding: 0;
    background-image: url("../../images/aside_bgtablet.png");
    background-size: 100%;
  }
  .aside__inner {
    display: block;
    width: 457px;
    margin: 0 auto;
    text-align: center;
  }
  .aside__content{
    text-align: center;
  }
  .aside__title{
    text-align: center;
    font-size: 32px;
    line-height: 32px;
  }
  .download__app{
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
  }
}
@media only screen and(max-width:606px) {
  .sity-aside{
    background-image: url("../../images/mobile_aside.svg");

  }
  .aside__title{
    font-size: 32px;
  line-height: 32px;
  }

}