.enjoy {
    margin-top: 160px;
}

.enjoy__line {
    position: relative;
    display: block;
    border: 10px solid #E5ECF4;
    top: 60px;
    left: -165px
}

.enjoy__list {
    @include position;
    gap: 30px;
    @include unsed-list;
}

.enjoy__item {
    position: relative;
    width: 100%;
    max-width: 350px;
    padding-top: 136px;
}

.enjoy__item::before {
    position: absolute;
    background-image: url("../../images/phone_icon.svg");
    width: 96px;
    height: 96px;
    background-position: top center;
    top: 0;
    content: '';
}

.enjoy__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
}

.enjoy {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}
@media only screen and(max-width:768px) {
    // .enjoy__inner{
    //     display: block;
    // }
    .enjoy{
        margin-top: 100px;
    }
    .enjoy__line{
        display: none;
    }
    .enjoy__list{
        display: block;
        margin-left: 150px;
        width: 400px;
    }
    .enjoy__item{
        padding: 0;
    }
    .enjoy__item::before{
        left: -125px;
    }
}
@media only screen and(max-width:576px) {
    .enjoy__item{
        margin: 0 auto;
        padding-top: 100px;
        text-align: center;
    }
    .enjoy__list{
        margin: 0 auto;
    }
    .enjoy__item::before{
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}