.faq {
  padding-bottom: 160px;
}

.faq__title {
  margin: 0;
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}

.faq__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.faq__item {
  display: flex;
  align-items: flex-start;
  gap: 90px;
}

.faq-list__title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.78571px;
  color: #495567;
}

.faq__content {
  width: 100%;
  max-width: 730px;
}

.faq__details {
  padding: 32px 40px;
  overflow: hidden;
  margin: 0 auto 16px;
  background-color: #f2f5f9;
  transition: all 0.4s ease;
}

.faq__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.faq__details:active {
  background-color: #fff4df;
}

.faq__details--title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}

.faq__details--text {
  margin: 0;
  margin-top: 24px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #495567;
}

@media only screen and (max-width: 768px) {
  .faq {
    padding-bottom: 120px;
  }

  .faq__item {
    align-items: center;
    flex-direction: column;
    gap: 32px;
  }
}

@media only screen and (max-width: 576px) {
  .faq__item {
  }

  .faq__title {
    margin-bottom: 48px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.42857px;
    color: #495567;
  }

  .faq-list__title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
  }

  .faq__details--title {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.803571px;
  }
}
