.site-footer {
    background: #333A44;
}

.footer__inner {
    @include position;
    padding: 35px 0px;

}

.footer__list {
    @include position;
    @include unsed-list;
    margin-left: 58px;
}

.footer__item+.footer__item {
    margin-left: 58px;
}

.footer__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;

    &:active {
        color: #FCB72B;
    }
}

.network__apps {
    margin-left: auto;
}

.network__link {
    text-decoration: none;
    margin-left: 24px;

    &:active {
        background-color: transparent;
    }
}

@media only screen and(max-width:768px) {
    .footer__link {
        font-size: 15px;
        line-height: 25px;
    }

    .footer__list {
        margin-left: 20px;
    }

    .network__apps {
        margin-left: 10px;
    }

    .footer__item+.footer__item {
        margin-left: 10px;
    }

    .network__link {
        margin-left: 5px;
    }
}