.site-header{
    position: fixed;
    width: 100%;
    left:0;
    right: 0;
    padding: 22px 0px;
    background:#fff;
    z-index: 10;
}
.header__inner{
    @include position;

}
.nav__list{
    @include position;
    @include unsed-list;
    margin-left: 58px;
}
.nav__item+ .nav__item{
    margin-left: 32px;
}
.nav__link{
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
    &:active{
        color: #FCB72B;
    }
}
.btn{
    margin-left: auto;
    padding: 14px 39px;
    background: #FCB72B;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    border: 2px solid transparent;
    &:active{
        background: transparent;
        color: #FCB72B;

        border: 2px solid #FCB72B;
    }
}