.location{
    margin-top: 100px;
    background-image: url("../../images/location_bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}
.location__inner{
    padding:72px 0;
}
.location__title{
    margin: 0;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    color: #FFFFFF;
}
