.location{
    margin-top: 100px;
    background-image: url("../../images/location_bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}
.location__inner{
    padding:72px 0;
}
.location__title{
    margin: 0;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    color: #FFFFFF;
}
.location__map{
    margin-top: 100px;
    
}
.location__map{
    background-image: url("../../images/location_img.webp");
    background-repeat: no-repeat;
    background-size: 100px 500px;
    background-position: calc(50%) calc(50%);

}
.location__link{
    text-decoration: none;
}