.mission {
  padding: 186px 0 120px;
  background-image: url("../images/mission-bgi.webp");
  background-repeat: no-repeat;
  background-position: calc(50% + 400px) calc(50%);
}

.mission__inner {
  padding: 66px 0;
}

.mission__content {
  width: 100%;
  max-width: 445px;
}

.mission__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}

.mission__text {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}

.mission__link {
  display: inline-block;
  padding: 14px 48px 14px 49px;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .mission {
    padding-top: 653px;
    background-position: calc(50% + 15px) calc(50% - 190px);
  }

  .mission__inner {
    padding: 0;
  }

  .mission__content {
    margin: 0 auto;
    max-width: 573px;
    text-align: center;
  }

  .mission__title {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 576px) {
  .mission {
    padding-top: 440px;
    background-image: url("../images/mission-bgi-mobile.webp");
    background-position: calc(50%) calc(50% - 220px);
  }

  .mission__content {
    max-width: 390px;
  }

  .mission__title {
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.42857px;
  }

  .mission__text {
    margin-bottom: 32px;
  }
}
