.sity{
    margin-top: 200px;
    background-image: url("../../images/sity_img.webp");
    background-repeat: no-repeat;
    background-size: 995px 445px;
    background-position:calc(50% - 605px) calc(50%);
}
.sity__inner{
    position: relative;
}
.sity__content{
    padding: 66px 0;
    margin-left: auto;
    width: 100%;
    max-width:450px ;
}
.sity__title{
    margin: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #495567;

}
.sity__text{
    margin-bottom: 40px;
    padding: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}