.sity{
    margin-top: 200px;
    background-image: url("../../images/sity_img.webp");
    background-repeat: no-repeat;
    background-size: 995px 445px;
    background-position:calc(50% - 605px) calc(50%);
}
.sity__inner{
    position: relative;
}
.sity__content{
    padding: 66px 0;
    margin-left: auto;
    width: 100%;
    max-width:450px ;
}
.sity__title{
    margin: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #495567;

}
.sity__text{
    margin-bottom: 40px;
    padding: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}
@media only screen and(max-width:768px) {
    .sity{
        background-position: calc(50% - 200px) calc(50%  - 30px);
    }
    .sity__content{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .sity__title{
        font-size: 48px;
        line-height: 48px;
    }
    .sity__text{
        font-size: 15px;
        line-height: 25px;
    }
}
@media only screen and(max-width:576px) {
    .sity{
        margin-top: 0px;
        background-position:calc(50% - 100px) calc(50% - 100px);
    }
    .sity__title{
        font-size: 32px;
        line-height: 32px;
    }
    .sity__text{
        font-size: 15px;
        line-height: 25px;
    }
    .sity__content{
        padding-top: 650px;
    }
}